@mixin header {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		.user {
			display: flex;
			align-items: center;
			.user-img {
				margin-right: 1.5rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid whitesmoke;
				img {
					border-radius: 50%;
					width: 3.5rem;
					height: 3.5rem;
				}
			}
			.user-text {
				line-height: 1;
				font-size: 1.5rem;
			}
		}
		.notifications {
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
