@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap");
@import "header";

$backgroung-color: #18191a;

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", monospace;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  background: $backgroung-color;
  @include header;
}
