@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600&display=swap");
@import "login";
@import "header";
@import "generalBalance";
@import "account";
@import "addAccount";

$backgroung-color: #18191a;
$card-color: rgb(46, 46, 46);
$text-color: whitesmoke;
$primary-color: rgb(47, 255, 92);
$line_color: rgb(77, 77, 77);
$detail-color: rgb(126, 126, 126);

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  color: $text-color;
  background-color: transparent;
  font-size: 1.1rem;
  line-height: 20px;
  &:focus {
    outline: none;
  }
}

input[type="number"] {
  text-align: left;
  width: 35%;
}

input[type="text"] {
  border-bottom: 1px solid $primary-color;
}

select {
  color: $text-color;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0.3rem;
}

option {
  background-color: $card-color;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  background: $backgroung-color;
  color: $text-color;
  @include login;
  @include header;
  @include generalBalance;
  @include account;
  @include addAccount;
  .card {
    background-color: $card-color;
    border-radius: 0.3rem;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
			padding-bottom: 1rem;
      .title {
        font-weight: bold;
				font-size: 1.1rem;
      }
      .card-options {
        display: flex;
        font-size: 1.5rem;
        color: $primary-color;
        .add {
          cursor: pointer;
        }
      }
    }
  }
}
